/* Helpers */
.path-mod-psgrading {
    .header {
        background-color: #f5f5f5;
        overflow: hidden;
        padding: 20px;
        margin: -1px -20px 30px -20px;
        box-shadow: 1px 0 12px -3px black;
        .selected-student {
            float: left;
        }
        .task-selector {
            float: left;
            margin-left: 15px;
            select {
                width: auto;
                min-width: 200px;
            }
        }
        .student-selector {
            float: right;
            select {
                display: inline-block;
                width: 230px;
                margin: 0 6px;
            }
            a {
                cursor: pointer;
            }
        }
    }
}