#page-mod-psgrading-view {
	.generaltable tbody tr.task {
	    //background-color: #d4edda;
	    &.not-published {
		    //background: #fff3cd;
		}
		.c-published {
			.fa-check-square {
			    color: green;
			}
		}
		.c-name {
			max-width: 200px;
		}
		.c-outcomes {
			max-width: 270px;
		}
	}
	.header {
		padding: 20px 0;
	}
}