#page-mod-psgrading-mark {
	.activity-navigation {
		display: none;
	}
	#region-main-settings-menu {
		display: none;
	}
	#region-main {
		padding: 0;
	}
	#user-notifications {
	    .alert {
		    margin: 0;
		}
	}
	form[data-form="psgrading-mark"] {
	    padding: 0 20px 20px 20px;
	}
	abbr.text-danger, .fdescription.required {
		display: none;
	}
	.header {
		background-color: #f5f5f5;
	    overflow: hidden;
    	padding: 20px;
    	margin: -1px -20px 30px -20px;
    	box-shadow: 1px 0 12px -3px black;
		.selected-student {
			float: left;
		}
		.student-selector {
			float: right;
			select {
				display: inline-block;
			    width: 230px;
			    margin: 0 6px;
			}
			a {
				cursor: pointer;
			}
		}
	}
	#fitem_id_criterionjson {
		display: none;
	}
	.marking-criterions {
		.headings, .criterions {
			display: table;
	    	width: 100%;
	    	border-collapse: collapse;
		}
		.tbl-th, .tbl-tr {
			display: table-row;
			padding: 0;
		}
		.tbl-th {
			font-weight: 600;
    		font-size: 110%;
			.tbl-col {
				border: 0 none;
			}
		}
		.tbl-col {
			display: table-cell;
		    width: 20%;
		    padding: 5px 5px 5px 5px;
		    vertical-align: top;
		    position: relative;
		    border: 1px dashed #ccc;
			&.tbl-col-first {
				padding-left: 0;
			}
			// Level 1 and 5 are smaller than the others.
			&.level1, &.level5 {
			    width: 10%;
			}

			.box {
				width: 100%;
				height: 90px;
			    padding: 10px;
			    font-size: 90%;
			    border-radius: 2px;
			}
			&.descriptor {
				border: 1px solid #ccc;
    			background: #f2f4f6;
    			border-right: 1px solid #ccc;
			}
			&.selectable {
				cursor: pointer;
				transition: background 0.2s;
			}
			&.level:hover {
				background-color: #fafafa;
			}
			&.level1.selected {
			    background-color: #f8d7da;
			}
			&.level2.selected {
			    background-color: #ffeeba;
			}
			&.level3.selected {
				background-color: #cce5ff;
			}
			&.level4.selected {
			    background-color: #d4edda;
			}
			&.level5.selected {
			    background-color: #bee5eb;
			}
		}
		@media only screen and (max-width: 1160px)  {
			.headings {
				display: none;
			}
			.tbl-tr {
			    display: block;
			    background-color: #f0f4f8;
			    padding: 10px;
			    border-radius: 4px;
			}
			.tbl-col {
			    display: block;
			    width: 100%;
				.label {
					display: block;
					position: absolute;
				    right: 10px;
				    text-align: right;
				}
			}
		}
	}
	.marking-evidences {
		margin-top: 30px;
		.heading {
			font-weight: 600;
	    	font-size: 120%;
	    	padding-bottom: 5px;
		}
		.body {
			overflow: hidden;
    		background: #f2f4f6;
    		padding: 20px 20px 0 20px;
    		border: 1px solid #ccc;
    		border-bottom: 0 none;
		}
		table {
			border: 1px solid #ccc;
			max-width: 500px;
			background: #fff;
		}
		h6 {
		    font-weight: 600;
		}
	}
	#fitem_id_evidences {
		margin: 0;
    	padding: 0 20px 20px 20px;
    	background: #f2f4f6;
    	border: 1px solid #ccc;
    	border-top: 0 none;
		.col-md-3 {
		    display: none;
		}
		.col-md-9 {
			padding: 0;
			max-width: 100%;
    		flex: 0 0 100%;
		}
		.filemanager {
			.fp-restrictions {
				display: none;
			}
			.fp-pathbar {
	    		display: none;
			}
			.fp-btn-download {
				display: none;
			}
			.fp-vb-tree {
				display: none;
			}
	    }
	}
	#fitem_id_engagement {
		margin: 0;
		.col-md-3 {
		    padding: 20px 0 5px 0;
		    font-weight: 600;
    		font-size: 120%;
		}
		.col-md-9 {
			padding: 0;
			max-width: 100%;
    		flex: 0 0 100%;
		}
		select {
			width: 100%;
			max-width: 500px;
		}
	}
	#fitem_id_comment {
		margin: 0;
		.col-md-3 {
		    padding: 20px 0 5px 0;
		    font-weight: 600;
    		font-size: 120%;
		}
		.col-md-9 {
			padding: 0;
			max-width: 100%;
    		flex: 0 0 100%;
		}
		textarea {
			width: 100%;
			max-width: 500px;
		}
	}
	.custom-footer-buttons {
		margin-top: 30px;
	}

}