#page-mod-psgrading-overview {
	.activity-navigation {
		display: none;
	}
	#region-main-settings-menu {
		display: none;
	}
	#region-main {
		padding-top: 0;
	}
	#user-notifications {
	    .alert {
		    margin: 0;
		}
	}
}