.path-mod-psgrading {
  header#page-header.header-maxwidth {
    max-width: 100%;
  }
  
  /*.header {
    background-color: #f5f5f5;
    overflow: hidden;
    padding: 20px;
    margin: -1px -20px 30px -20px;
    border: 1px solid #eee;
  }*/
  
  .secondary-navigation {
    width: 100%;
    max-width: 100%;
  }

  .psgrading-header {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: end;
    .top-buttons {
      display: flex;
      a {
        font-size: 22px;
        margin: 0 7px;
      }
    }
    .selector-label {
      display: none;
    }
  }

}