#page-mod-psgrading-reporting {
  #region-main {
    padding: 0;
  }
}
.psgrading-reporting {
  padding: 0 0 300px 0;
  margin-top: -1px;
	.reporting-row {
    align-items: baseline;
    padding: 14px 90px 12px 14px;
  }
  @media only screen and (min-width: 960px) {
    .reporting-row {
      display: flex;
    }
  }
  .reporting-row:nth-child(even) {background: #FFF}
  .reporting-row:nth-child(odd) {background: #F2F4F6}
  .student-info {
    white-space: nowrap;
    margin-right: 15px;
    margin-bottom: 11px;
  }
  .report-element {
    padding: 3px 10px;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 7px;
    background-color: #fff;
    border-radius: 1px;
    text-decoration: none;
    border: 2px solid #414141;
    color: #FFF;
    background: #414141;
    position: relative;
    &.options-open {
      .subjectgrade {
        z-index: 20;
        position: relative;
      }
      .options-area {
        display: block;
      }
    }
  }
  .report-element.submitting {
    opacity: 0.4;
    pointer-events: none;
  }
  .report-element[data-grade="1"] {
    background-color: #D90617;
    border-color: #D90617;
  }
  .report-element[data-grade="2"] {
    background-color: #F97D01;
    border-color: #F97D01;
    color: #000;
  }
  .report-element[data-grade="3"] {
    background-color: #FFDB00;
    border-color: #FFDB00;
    color: #000;
  }
  .report-element[data-grade="4"] {
    background-color: #6BB82E;
    border-color: #6BB82E;
    color: #000;
  }
  .report-element[data-grade="5"] {
    background-color: #00812F;
    border-color: #00812F;
  }
  .report-element[data-grade="text_graded"] {
    background-color: #5F9EA0;
    border-color: #5F9EA0;
  }

  .options-area {
    position: absolute;
    background: #fff;
    box-shadow: 0 10px 40px -6px #000;
    color: #000;
    z-index: 10;
    left: -2px;
    top: 31px;
    min-width: 210px;
    display: none;
    label {
      width: 100%;
      padding: 8px 30px 8px 10px;
      border-bottom: 1px solid #ccc;
      margin: 0;
      cursor: pointer;
      &:hover {
        background: #f2f4f6;
      }
    }
    textarea {
      height: 200px;
      width: 100%;
      margin: 10px 0;
      border: 1px solid #414141;
      border-radius: 3px;
      padding: 10px;
      resize: none;
    }
    .actions {
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
    .btn-primary {
      color: #fff !important;
    }
  }
  // When a text based element is opened, display it as a block.
  .report-element[data-type="text"].options-open {
    display: block;
    padding: 0;
    background-color: transparent;
    border: 0 none;
    color: #000;
  }
  .report-element[data-type="text"] .options-area {
    width: 100%;
    position: relative;
    box-shadow: none;
    top: 0;
    left: 0;
    background: transparent;
  }
  
}