/* Helpers */
.path-mod-psgrading .spinner {
  display: none;
  padding: 0;
  height: 40px;
  width: 40px;
  overflow: hidden;
}
.path-mod-psgrading .spinner .circle {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid transparent;
  border-top-color: #000;
  border-left-color: #000;
  text-indent: -9999px;
  margin: 0 auto;
}
.path-mod-psgrading .spin {
  -webkit-animation: lgsspin 0.4s linear 0s infinite;
  -moz-animation: lgsspin 0.4s linear 0s infinite;
  -o-animation: lgsspin 0.4s linear 0s infinite;
  animation: lgsspin 0.4s linear 0s infinite;
}
@-webkit-keyframes lgsspin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes lgsspin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes lgsspin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Helpers */
.path-mod-psgrading .header {
  background-color: #f5f5f5;
  overflow: hidden;
  padding: 20px;
  margin: -1px -20px 30px -20px;
  box-shadow: 1px 0 12px -3px black;
}
.path-mod-psgrading .header .selected-student {
  float: left;
}
.path-mod-psgrading .header .task-selector {
  position: absolute;
  top: -70px;
  right: 35px;
  width: 200px;
}
.path-mod-psgrading .header .task-selector select {
  width: auto;
  min-width: 200px;
}
.path-mod-psgrading .header .student-selector {
  float: right;
}
.path-mod-psgrading .header .student-selector select {
  display: inline-block;
  width: 230px;
  margin: 0 6px;
}
.path-mod-psgrading .header .student-selector a {
  cursor: pointer;
}
#page-mod-psgrading-task #page-content .action-menu {
  display: none !important;
}
#page-mod-psgrading-task #page-content .collapse-all {
  display: none;
}
#page-mod-psgrading-task .activity-navigation {
  display: none;
}
form[data-form="psgrading-task"] {
  position: relative;
}
form[data-form="psgrading-task"].mform .col-md-3 {
  max-width: 170px;
  margin-right: 0;
  padding-right: 0;
}
form[data-form="psgrading-task"].mform div#fgroup_id_buttonar .col-md-9 {
  padding-left: 0;
}
form[data-form="psgrading-task"].mform legend a.fheader {
  background: none !important;
  margin: 0;
  padding: 0;
  pointer-events: none;
}
form[data-form="psgrading-task"].mform fieldset {
  margin-left: 0 !important;
}
form[data-form="psgrading-task"] #id_actions {
  border: 0 none;
}
form[data-form="psgrading-task"] #id_actions .ftoggler {
  display: none;
}
form[data-form="psgrading-task"] #savestatus .badge {
  position: absolute;
  top: 10px;
  left: 220px;
  display: none;
  border-radius: 17px;
  padding: 4px 7px;
  justify-content: center;
  align-items: center;
  display: flex;
}
form[data-form="psgrading-task"] #savestatus .badge .spinner,
form[data-form="psgrading-task"] #savestatus .badge i {
  display: block;
  width: 11px;
  height: 11px;
  margin-right: 3px;
}
form[data-form="psgrading-task"] .custom-footer-buttons {
  padding: 25px 0 30px;
  text-align: center;
}
/* The json field is a text field hidden by css rather than a hidden field so that we can attach validation to it. */
#page-mod-psgrading-task #fitem_id_criterionjson {
  display: none;
}
#page-mod-psgrading-task #fitem_id_criterionjson > div {
  display: none;
}
#page-mod-psgrading-task #fitem_id_criterionjson.has-danger {
  display: block;
  height: 22px;
  overflow: hidden;
}
#page-mod-psgrading-task #fitem_id_criterionjson.has-danger:before {
  content: "You must complete the criterion. All fields are mandatory.";
  color: red;
  width: 100%;
  height: 22px;
  margin-left: 15px;
}
/* Component styling */
form[data-form="psgrading-task"] .criterion-selector {
  background-color: #f0f4f8;
  padding: 25px 20px 25px 25px;
}
form[data-form="psgrading-task"] .criterion-selector .headings,
form[data-form="psgrading-task"] .criterion-selector .criterions {
  display: table;
  width: 100%;
}
form[data-form="psgrading-task"] .criterion-selector .tbl-th,
form[data-form="psgrading-task"] .criterion-selector .tbl-tr {
  display: table-row;
  padding: 0;
}
form[data-form="psgrading-task"] .criterion-selector .tbl-th {
  font-weight: 600;
  font-size: 110%;
}
form[data-form="psgrading-task"] .criterion-selector .tbl-tr.reordering {
  background-color: #cce5ff;
  box-shadow: 0 0 2px 0px #004085;
}
form[data-form="psgrading-task"] .criterion-selector .tbl-col {
  display: table-cell;
  width: 20%;
  padding: 5px 5px 5px 5px;
  vertical-align: top;
  position: relative;
}
form[data-form="psgrading-task"] .criterion-selector .tbl-col .label {
  display: none;
}
form[data-form="psgrading-task"] .criterion-selector .tbl-col textarea:focus,
form[data-form="psgrading-task"] .criterion-selector .tbl-col input:focus,
form[data-form="psgrading-task"] .criterion-selector .tbl-col select:focus,
form[data-form="psgrading-task"] .criterion-selector .tbl-col a:focus {
  outline: none;
  box-shadow: none;
}
form[data-form="psgrading-task"] .criterion-selector .tbl-col textarea {
  width: 100%;
  height: 140px;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 10px;
  font-size: 90%;
}
form[data-form="psgrading-task"] .criterion-selector .tbl-col input,
form[data-form="psgrading-task"] .criterion-selector .tbl-col select {
  margin-bottom: 3px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 8px 10px;
  font-size: 90%;
  height: calc(1.5em + 0.75rem + 4px);
}
form[data-form="psgrading-task"] .criterion-selector .tbl-col select {
  color: #aaa;
}
form[data-form="psgrading-task"] .criterion-selector .tbl-col select.selected {
  color: #000;
}
form[data-form="psgrading-task"] .criterion-selector .tbl-col select option {
  color: #000;
}
form[data-form="psgrading-task"] .criterion-selector .tbl-col select option:disabled {
  color: #aaa;
}
form[data-form="psgrading-task"] .criterion-selector .tbl-col.tbl-col-last {
  padding-right: 30px;
}
form[data-form="psgrading-task"] .criterion-selector a.btn-delete {
  position: absolute;
  top: 35px;
  right: 0;
  cursor: pointer;
  color: #005b94;
}
form[data-form="psgrading-task"] .criterion-selector a.btn-reorder {
  position: absolute;
  top: 5px;
  right: 0px;
  width: 20px;
  text-align: center;
  cursor: pointer;
  color: #005b94;
}
form[data-form="psgrading-task"] .criterion-selector .hidden-control {
  margin-top: 5px;
  display: flex;
}
form[data-form="psgrading-task"] .criterion-selector .hidden-control input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}
form[data-form="psgrading-task"] .criterion-selector .hidden-control .toggle {
  cursor: pointer;
  text-indent: -9999px;
  width: 32px;
  height: 19px;
  background: grey;
  display: inline-block;
  border-radius: 100px;
  position: relative;
  margin-right: 3px;
}
form[data-form="psgrading-task"] .criterion-selector .hidden-control .toggle:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 13px;
  height: 13px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
form[data-form="psgrading-task"] .criterion-selector .hidden-control input:checked + .toggle {
  background: #005b94;
}
form[data-form="psgrading-task"] .criterion-selector .hidden-control input:checked + .toggle:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
form[data-form="psgrading-task"] .criterion-selector .hidden-control .desc {
  font-size: 82%;
  margin-left: 4px;
  line-height: 19px;
}
form[data-form="psgrading-task"] .criterion-selector .criterion-hidden input,
form[data-form="psgrading-task"] .criterion-selector .criterion-hidden textarea,
form[data-form="psgrading-task"] .criterion-selector .criterion-hidden select {
  background-color: #f2f2f2;
}
form[data-form="psgrading-task"] .criterion-selector .criterion-hidden input:focus,
form[data-form="psgrading-task"] .criterion-selector .criterion-hidden textarea:focus,
form[data-form="psgrading-task"] .criterion-selector .criterion-hidden select:focus {
  background: #fff;
}
form[data-form="psgrading-task"] .criterion-selector .foot {
  padding: 5px;
}
@media only screen and (max-width: 1160px) {
  form[data-form="psgrading-task"] .criterion-selector {
    padding: 0px 0px 25px 0px;
    background-color: #fff;
  }
  form[data-form="psgrading-task"] .criterion-selector .headings {
    display: none;
  }
  form[data-form="psgrading-task"] .criterion-selector .tbl-tr {
    display: block;
    background-color: #f0f4f8;
    padding: 20px 10px 20px 20px;
    border-radius: 4px;
  }
  form[data-form="psgrading-task"] .criterion-selector .tbl-col {
    display: block;
    width: 100%;
  }
  form[data-form="psgrading-task"] .criterion-selector .tbl-col .label {
    display: block;
    position: absolute;
    right: 10px;
    text-align: right;
  }
}
/* The json field is a text field hidden by css rather than a hidden field so that we can attach validation to it. */
#page-mod-psgrading-task #fitem_id_evidencejson {
  display: none;
}
#page-mod-psgrading-task #fitem_id_evidencejson > div {
  display: none;
}
#page-mod-psgrading-task #fitem_id_evidencejson.has-danger {
  display: block;
  height: 22px;
  overflow: hidden;
}
#page-mod-psgrading-task #fitem_id_evidencejson.has-danger:before {
  content: "You must add evidence.";
  color: red;
  width: 100%;
  height: 22px;
  margin-left: 15px;
}
/* Component styling */
form[data-form="psgrading-task"] .evidence-selector {
  background-color: #f0f4f8;
  padding: 25px 20px 25px 30px;
}
form[data-form="psgrading-task"] .evidence-selector .heading {
  font-size: 110%;
  font-weight: 600;
  margin-bottom: 7px;
}
form[data-form="psgrading-task"] .evidence-selector table {
  max-width: 500px;
  background-color: #fff;
}
form[data-form="psgrading-task"] .evidence-selector table td {
  border: 1px solid #dee2e6;
}
form[data-form="psgrading-task"] .evidence-selector .c-checkbox {
  width: 37px;
}
form[data-form="psgrading-task"] .evidence-selector .c-link {
  width: 80px;
  text-align: center;
}
#page-mod-psgrading-view .generaltable tbody tr.task .c-published .fa-check-square {
  color: green;
}
#page-mod-psgrading-view .generaltable tbody tr.task .c-name {
  max-width: 200px;
}
#page-mod-psgrading-view .generaltable tbody tr.task .c-outcomes {
  max-width: 270px;
}
#page-mod-psgrading-view .tasks {
  margin-top: 25px;
}
#page-mod-psgrading-mark .activity-navigation {
  display: none;
}
#page-mod-psgrading-mark #region-main-settings-menu {
  display: none;
}
#page-mod-psgrading-mark #region-main {
  padding: 0;
}
#page-mod-psgrading-mark #user-notifications .alert {
  margin: 0;
}
#page-mod-psgrading-mark form[data-form="psgrading-mark"] {
  padding: 0 20px 20px 20px;
}
#page-mod-psgrading-mark .text-danger[title="Required"],
#page-mod-psgrading-mark .fdescription.required {
  display: none;
}
#page-mod-psgrading-mark #fitem_id_criterionjson {
  display: none;
}
#page-mod-psgrading-mark .marking-criterions .headings,
#page-mod-psgrading-mark .marking-criterions .criterions {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
#page-mod-psgrading-mark .marking-criterions .tbl-th,
#page-mod-psgrading-mark .marking-criterions .tbl-tr {
  display: table-row;
  padding: 0;
}
#page-mod-psgrading-mark .marking-criterions .tbl-th {
  font-weight: 600;
  font-size: 110%;
}
#page-mod-psgrading-mark .marking-criterions .tbl-th .tbl-col {
  border: 0 none;
}
#page-mod-psgrading-mark .marking-criterions .tbl-col {
  display: table-cell;
  width: 20%;
  padding: 5px 5px 5px 5px;
  vertical-align: top;
  position: relative;
  border: 1px dashed #ccc;
  /*&.level1.selected {
			    background-color: #f8d7da;
			}
			&.level2.selected {
			    background-color: #ffeeba;
			}
			&.level3.selected {
				background-color: #cce5ff;
			}
			&.level4.selected {
			    background-color: #d4edda;
			}
			&.level5.selected {
			    background-color: #bee5eb;
			}*/
}
#page-mod-psgrading-mark .marking-criterions .tbl-col.tbl-col-first {
  padding-left: 0;
}
#page-mod-psgrading-mark .marking-criterions .tbl-col.level1,
#page-mod-psgrading-mark .marking-criterions .tbl-col.level5 {
  width: 10%;
}
#page-mod-psgrading-mark .marking-criterions .tbl-col .box {
  width: 100%;
  padding: 10px;
  font-size: 90%;
  border-radius: 2px;
}
#page-mod-psgrading-mark .marking-criterions .tbl-col.descriptor {
  border: 1px solid #ccc;
  background: #f2f4f6;
  border-right: 1px solid #ccc;
}
#page-mod-psgrading-mark .marking-criterions .tbl-col.selectable {
  cursor: pointer;
  transition: background 0.2s;
}
#page-mod-psgrading-mark .marking-criterions .tbl-col.level:hover {
  background-color: #fafafa;
}
#page-mod-psgrading-mark .marking-criterions .tbl-col.level1.selected {
  background-color: #D90617;
}
#page-mod-psgrading-mark .marking-criterions .tbl-col.level2.selected {
  background-color: #F97D01;
}
#page-mod-psgrading-mark .marking-criterions .tbl-col.level3.selected {
  background-color: #FFDB00;
}
#page-mod-psgrading-mark .marking-criterions .tbl-col.level4.selected {
  background-color: #6BB82E;
}
#page-mod-psgrading-mark .marking-criterions .tbl-col.level5.selected {
  background-color: #00812F;
}
@media only screen and (max-width: 1160px) {
  #page-mod-psgrading-mark .marking-criterions .headings {
    display: none;
  }
  #page-mod-psgrading-mark .marking-criterions .tbl-tr {
    display: block;
    background-color: #f0f4f8;
    padding: 10px;
    border-radius: 4px;
  }
  #page-mod-psgrading-mark .marking-criterions .tbl-col {
    display: block;
    width: 100% !important;
  }
  #page-mod-psgrading-mark .marking-criterions .tbl-col .label {
    display: block;
    position: absolute;
    right: 10px;
    text-align: right;
  }
}
#page-mod-psgrading-mark .marking-evidences {
  margin-top: 30px;
}
#page-mod-psgrading-mark .marking-evidences .heading {
  font-weight: 600;
  font-size: 120%;
  padding-bottom: 5px;
}
#page-mod-psgrading-mark .marking-evidences .body {
  overflow: hidden;
  background: #f2f4f6;
  padding: 20px 20px 0 20px;
  border: 1px solid #ccc;
  border-bottom: 0 none;
}
#page-mod-psgrading-mark .marking-evidences table {
  border: 1px solid #ccc;
  max-width: 500px;
  background: #fff;
}
#page-mod-psgrading-mark .marking-evidences h6 {
  font-weight: 600;
}
#page-mod-psgrading-mark #fitem_id_evidences {
  margin: 0;
  padding: 0 20px 20px 20px;
  background: #f2f4f6;
  border: 1px solid #ccc;
  border-top: 0 none;
}
#page-mod-psgrading-mark #fitem_id_evidences .col-md-3 {
  display: none;
}
#page-mod-psgrading-mark #fitem_id_evidences .col-md-9 {
  padding: 0;
  max-width: 100%;
  flex: 0 0 100%;
}
#page-mod-psgrading-mark #fitem_id_evidences .filemanager .fp-restrictions {
  display: none;
}
#page-mod-psgrading-mark #fitem_id_evidences .filemanager .fp-pathbar {
  display: none;
}
#page-mod-psgrading-mark #fitem_id_evidences .filemanager .fp-btn-download {
  display: none;
}
#page-mod-psgrading-mark #fitem_id_evidences .filemanager .fp-vb-tree {
  display: none;
}
#page-mod-psgrading-mark #fitem_id_engagement {
  margin: 0;
}
#page-mod-psgrading-mark #fitem_id_engagement .col-md-3 {
  padding: 20px 0 5px 0;
  font-weight: 600;
  font-size: 120%;
}
#page-mod-psgrading-mark #fitem_id_engagement .col-md-9 {
  padding: 0;
  max-width: 100%;
  flex: 0 0 100%;
}
#page-mod-psgrading-mark #fitem_id_engagement select {
  width: 100%;
  max-width: 500px;
}
#page-mod-psgrading-mark #fitem_id_comment {
  margin: 0;
  float: left;
  width: 35%;
  position: relative;
  padding-bottom: 24px;
}
#page-mod-psgrading-mark #fitem_id_comment .col-md-3 {
  padding: 20px 0 5px 0;
  font-weight: 600;
  font-size: 120%;
  position: unset;
}
#page-mod-psgrading-mark #fitem_id_comment .col-md-9 {
  padding: 0;
  max-width: 100%;
  flex: 0 0 100%;
}
#page-mod-psgrading-mark #fitem_id_comment textarea {
  width: 100%;
}
#page-mod-psgrading-mark #save-to-comment-bank {
  margin-left: 0;
  margin-top: -26px;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  right: 0;
}
#page-mod-psgrading-mark .comment-bank {
  float: left;
  width: 65%;
  padding: 52px 0 0 10px;
}
#page-mod-psgrading-mark .comment-bank .comment {
  background: #f2f4f6;
  padding: 5px 10px;
  border: 1px dashed #ddd;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 3px;
  position: relative;
  cursor: pointer;
  transition: padding 0.3s;
}
#page-mod-psgrading-mark .comment-bank .comment a {
  transition: all 0.3s;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  background: #f2f4f6;
  text-align: center;
}
#page-mod-psgrading-mark .comment-bank .comment a.delete {
  top: 4px;
  right: 0;
  width: 30px;
}
#page-mod-psgrading-mark .comment-bank .comment a.append {
  top: 4px;
  left: 10px;
}
#page-mod-psgrading-mark .comment-bank .comment:hover {
  padding-left: 23px;
}
#page-mod-psgrading-mark .comment-bank .comment:hover a {
  opacity: 1;
  visibility: visible;
}
#page-mod-psgrading-mark .comment-bank .comment:hover a.append {
  left: 5px;
}
#page-mod-psgrading-mark .comment-bank.submitting .spinner {
  display: block;
  margin: 0 0 5px 0;
  height: 25px;
  width: 25px;
}
#page-mod-psgrading-mark .clear {
  clear: both;
}
#page-mod-psgrading-mark .custom-footer-buttons {
  margin-top: 30px;
}
#page-mod-psgrading-overview .activity-navigation {
  display: none;
}
#page-mod-psgrading-overview #region-main-settings-menu {
  display: none;
}
#page-mod-psgrading-overview #region-main {
  padding: 0;
}
#page-mod-psgrading-overview #user-notifications .alert {
  margin: 0;
}
#page-mod-psgrading-overview .psgrading-overview > .header {
  margin: -1px 0px 0px 0px;
  z-index: 999;
  position: relative;
}
#page-mod-psgrading-overview .matrix {
  white-space: nowrap;
  overflow: auto;
  padding: 20px;
  font-size: 1.125em;
}
#page-mod-psgrading-overview .matrix .column {
  display: inline-block;
  vertical-align: top;
}
#page-mod-psgrading-overview .matrix .cell {
  padding: 3px 6px;
  line-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 140px;
}
#page-mod-psgrading-overview .matrix .column.y-header div {
  padding: 3px 6px;
}
#page-mod-psgrading-overview .matrix .column.y-header .subjects {
  padding: 0;
  background-color: #f2f4f6;
}
#page-mod-psgrading-overview .matrix .column.y-header .subjects div {
  padding: 6px 6px;
  border-left: 1px dashed #ccc;
  border-top: 1px dashed #ccc;
}
#page-mod-psgrading-overview .matrix .column.y-header .subjects div:last-of-type {
  border-bottom: 1px dashed #ccc;
}
#page-mod-psgrading-overview .matrix .column.y-header .cell-engagement {
  background: #f2f4f6;
  padding: 6px 6px;
  border-left: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}
#page-mod-psgrading-overview .matrix .column.task {
  transition: all 0.2s;
  position: relative;
}
#page-mod-psgrading-overview .matrix .column.task .subjects div {
  padding: 6px 6px;
  border-top: 1px dashed #ccc;
}
#page-mod-psgrading-overview .matrix .column.task .subjects div:last-of-type {
  border-bottom: 1px dashed #ccc;
}
#page-mod-psgrading-overview .matrix .column.task .cell[data-grade="1"] {
  background-color: #D90617;
  color: #fff;
}
#page-mod-psgrading-overview .matrix .column.task .cell[data-grade="2"] {
  background-color: #F97D01;
}
#page-mod-psgrading-overview .matrix .column.task .cell[data-grade="3"] {
  background-color: #FFDB00;
}
#page-mod-psgrading-overview .matrix .column.task .cell[data-grade="4"] {
  background-color: #6BB82E;
}
#page-mod-psgrading-overview .matrix .column.task .cell[data-grade="5"] {
  background-color: #00812F;
  color: #fff;
}
#page-mod-psgrading-overview .matrix .column.task .cell-engagement {
  padding: 6px 6px;
  border-bottom: 1px dashed #ccc;
}
#page-mod-psgrading-overview .matrix .column.task .cell-engagement[data-engagement="poor"] {
  background-color: #D90617;
  color: #fff;
}
#page-mod-psgrading-overview .matrix .column.task .cell-engagement[data-engagement="acceptable"] {
  background-color: #FFDB00;
}
#page-mod-psgrading-overview .matrix .column.task .cell-engagement[data-engagement="good"] {
  background-color: #00812F;
  color: #fff;
}
#page-mod-psgrading-overview .matrix div.column.task.last .subjects div {
  border-right: 1px dashed #ccc;
}
#page-mod-psgrading-overview .matrix div.column.task.last .cell-engagement {
  border-right: 1px dashed #ccc;
}
#page-mod-psgrading-overview .matrix div.column.report-grades .cell-report-grade {
  padding: 0;
  overflow: visible;
}
#page-mod-psgrading-overview .matrix div.column.report-grades .cell-report-grade > span {
  transform: skewX(-7deg);
  text-align: center;
  background-color: #f2f4f6;
  padding: 2px 6px 3px;
  display: block;
  margin-left: 2px;
  width: 141px;
  border: 1px dashed #ccc;
  border-bottom: 0 none;
  font-weight: 400;
}
#page-mod-psgrading-overview .matrix div.column.report-grades .subjects {
  background-color: #f2f4f6;
  border-bottom: 1px dashed #ccc;
  border-right: 1px dashed #ccc;
}
#page-mod-psgrading-overview .matrix div.column.report-grades .subjects div {
  padding: 6px 13px;
  border-top: 1px dashed #ccc;
}
#page-mod-psgrading-overview .matrix div.column.report-grades .cell[data-grade="1"] {
  background-color: #D90617;
  color: #fff;
}
#page-mod-psgrading-overview .matrix div.column.report-grades .cell[data-grade="2"] {
  background-color: #F97D01;
}
#page-mod-psgrading-overview .matrix div.column.report-grades .cell[data-grade="3"] {
  background-color: #FFDB00;
}
#page-mod-psgrading-overview .matrix div.column.report-grades .cell[data-grade="4"] {
  background-color: #6BB82E;
}
#page-mod-psgrading-overview .matrix div.column.report-grades .cell[data-grade="5"] {
  background-color: #00812F;
  color: #fff;
}
