/* Helpers */
.path-mod-psgrading .spinner {
  display: none;
  padding: 0;
  width: 30px;
  overflow: hidden;
}
.path-mod-psgrading .spinner .circle {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid transparent;
  border-top-color: #000;
  border-left-color: #000;
  text-indent: -9999px;
  margin: 0 auto;
}
.path-mod-psgrading .spin {
  -webkit-animation: lgsspin 0.4s linear 0s infinite;
  -moz-animation: lgsspin 0.4s linear 0s infinite;
  -o-animation: lgsspin 0.4s linear 0s infinite;
  animation: lgsspin 0.4s linear 0s infinite;
}
@-webkit-keyframes lgsspin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes lgsspin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes lgsspin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* The json field is a text field hidden by css rather than a hidden field so that we can attach validation to it. */
#page-mod-psgrading-tasks #fitem_id_rubricjson {
  display: none;
}
#page-mod-psgrading-tasks #fitem_id_rubricjson > div {
  display: none;
}
#page-mod-psgrading-tasks #fitem_id_rubricjson.has-danger {
  display: block;
  height: 22px;
  overflow: hidden;
}
#page-mod-psgrading-tasks #fitem_id_rubricjson.has-danger:before {
  content: "You must complete the rubric. All fields are mandatory.";
  color: red;
  width: 100%;
  height: 22px;
  margin-left: 15px;
}
/* Component styling */
form[data-form="psgrading-task"] .rubric-selector {
  background-color: #f0f4f8;
  padding: 25px 20px 25px 30px;
}
form[data-form="psgrading-task"] .rubric-selector .headings,
form[data-form="psgrading-task"] .rubric-selector .criterions {
  display: table;
  width: 100%;
}
form[data-form="psgrading-task"] .rubric-selector .tbl-th,
form[data-form="psgrading-task"] .rubric-selector .tbl-tr {
  display: table-row;
  padding: 0;
}
form[data-form="psgrading-task"] .rubric-selector .tbl-th {
  font-weight: 600;
  font-size: 110%;
}
form[data-form="psgrading-task"] .rubric-selector .tbl-col {
  display: table-cell;
  width: 20%;
  padding: 0 10px 10px 0;
  vertical-align: top;
  position: relative;
}
form[data-form="psgrading-task"] .rubric-selector .tbl-col .label {
  display: none;
}
form[data-form="psgrading-task"] .rubric-selector .tbl-col textarea:focus,
form[data-form="psgrading-task"] .rubric-selector .tbl-col input:focus,
form[data-form="psgrading-task"] .rubric-selector .tbl-col select:focus,
form[data-form="psgrading-task"] .rubric-selector .tbl-col a:focus {
  outline: none;
  box-shadow: none;
}
form[data-form="psgrading-task"] .rubric-selector .tbl-col textarea {
  width: 100%;
  height: 140px;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 10px;
  font-size: 90%;
}
form[data-form="psgrading-task"] .rubric-selector .tbl-col input,
form[data-form="psgrading-task"] .rubric-selector .tbl-col select {
  margin-bottom: 3px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 8px 10px;
  font-size: 90%;
  height: calc(1.5em + 0.75rem + 4px);
}
form[data-form="psgrading-task"] .rubric-selector .tbl-col.tbl-col-last {
  padding-right: 55px;
}
form[data-form="psgrading-task"] .rubric-selector a.btn-delete {
  position: absolute;
  top: 0;
  right: 0;
}
form[data-form="psgrading-task"] .rubric-selector .hidden-control {
  margin-top: 5px;
  display: flex;
}
form[data-form="psgrading-task"] .rubric-selector .hidden-control input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}
form[data-form="psgrading-task"] .rubric-selector .hidden-control .toggle {
  cursor: pointer;
  text-indent: -9999px;
  width: 32px;
  height: 19px;
  background: grey;
  display: inline-block;
  border-radius: 100px;
  position: relative;
  margin-right: 3px;
}
form[data-form="psgrading-task"] .rubric-selector .hidden-control .toggle:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 13px;
  height: 13px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
form[data-form="psgrading-task"] .rubric-selector .hidden-control input:checked + .toggle {
  background: #005b94;
}
form[data-form="psgrading-task"] .rubric-selector .hidden-control input:checked + .toggle:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
form[data-form="psgrading-task"] .rubric-selector .hidden-control .toggle:active:after {
  width: 20px;
}
form[data-form="psgrading-task"] .rubric-selector .hidden-control .desc {
  font-size: 82%;
  margin-left: 4px;
  line-height: 19px;
}
form[data-form="psgrading-task"] .rubric-selector .criterion-hidden input,
form[data-form="psgrading-task"] .rubric-selector .criterion-hidden textarea,
form[data-form="psgrading-task"] .rubric-selector .criterion-hidden select {
  background-color: #f2f2f2;
}
form[data-form="psgrading-task"] .rubric-selector .criterion-hidden input:focus,
form[data-form="psgrading-task"] .rubric-selector .criterion-hidden textarea:focus,
form[data-form="psgrading-task"] .rubric-selector .criterion-hidden select:focus {
  background: #fff;
}
@media only screen and (max-width: 1160px) {
  form[data-form="psgrading-task"] .rubric-selector {
    padding: 0px 0px 25px 0px;
    background-color: #fff;
  }
  form[data-form="psgrading-task"] .rubric-selector .headings {
    display: none;
  }
  form[data-form="psgrading-task"] .rubric-selector .tbl-tr {
    display: block;
    background-color: #f0f4f8;
    padding: 20px 10px 20px 20px;
    border-radius: 4px;
  }
  form[data-form="psgrading-task"] .rubric-selector .tbl-col {
    display: block;
    width: 100%;
  }
  form[data-form="psgrading-task"] .rubric-selector .tbl-col .label {
    display: block;
    position: absolute;
    right: 10px;
    text-align: right;
  }
}
/* The json field is a text field hidden by css rather than a hidden field so that we can attach validation to it. */
#page-mod-psgrading-tasks #fitem_id_evidencejson {
  display: none;
}
#page-mod-psgrading-tasks #fitem_id_evidencejson > div {
  display: none;
}
#page-mod-psgrading-tasks #fitem_id_evidencejson.has-danger {
  display: block;
  height: 22px;
  overflow: hidden;
}
#page-mod-psgrading-tasks #fitem_id_evidencejson.has-danger:before {
  content: "You must add evidence.";
  color: red;
  width: 100%;
  height: 22px;
  margin-left: 15px;
}
/* Component styling */
form[data-form="psgrading-task"] .evidence-selector {
  background-color: #f0f4f8;
  padding: 25px 20px 25px 30px;
}
form[data-form="psgrading-task"] .evidence-selector .heading {
  font-size: 110%;
  font-weight: 600;
  margin-bottom: 7px;
}
form[data-form="psgrading-task"] .evidence-selector table {
  max-width: 500px;
}
form[data-form="psgrading-task"] .evidence-selector table td {
  border: 1px solid #dee2e6;
}
form[data-form="psgrading-task"] .evidence-selector .c-checkbox {
  width: 37px;
}
form[data-form="psgrading-task"] .evidence-selector .c-link {
  width: 80px;
  text-align: center;
}
form[data-form="psgrading-task"] {
  position: relative;
  /*
	// Autosave switch.
	.autosave-control {
		position: absolute;
	    top: 33px;
		left: 249px;
	    top: 0;
		left: 0;
		display: flex;
		input[type=checkbox]{
			height: 0;
			width: 0;
			visibility: hidden;
			position: absolute;
    		left: -1000px;
		}
		label {
			cursor: pointer;
			text-indent: -9999px;
			width: 32px;
			height: 19px;
			background: grey;
			display: inline-block;
			border-radius: 100px;
			position: relative;
			margin-right: 3px;
		}
		label:after {
			content: '';
			position: absolute;
			top: 3px;
		    left: 3px;
		    width: 13px;
		    height: 13px;
			background: #fff;
			border-radius: 90px;
			transition: 0.3s;
		}
		input:checked + label {
			background: #005b94;
		}
		input:checked + label:after {
			left: calc(100% - 5px);
			transform: translateX(-100%);
		}
		label:active:after {
			width: 20px;
		}
		span.switch-label {
		    font-size: 89%;
		    margin-left: 4px;
		    line-height: 19px;
		}
		#savestatus {
			display: none;
			.badge {
			    border-radius: 17px;
			    padding: 4px 7px;
			    justify-content: center;
			    align-items: center;
				display: flex;
				.spinner, i {
			        display: block;
				    width: 11px;
				    height: 11px;
				    margin-right: 3px;
			    }
			}
		}
		&.active {
			span.switch-label {
				display: none;
			}
			#savestatus {
				display: inline-block;
			}
		}
	}*/
}
form[data-form="psgrading-task"] header #page-header .card-body {
  padding: 10px 15px 0;
}
form[data-form="psgrading-task"] header #page-header .page-context-header {
  margin-right: 185px;
}
form[data-form="psgrading-task"] .mform .col-md-3 {
  max-width: 170px;
  margin-right: 0;
  padding-right: 0;
}
form[data-form="psgrading-task"] .mform div#fgroup_id_buttonar .col-md-9 {
  padding-left: 0;
}
form[data-form="psgrading-task"] #id_actions .ftoggler {
  display: none;
}
form[data-form="psgrading-task"] #savestatus .badge {
  position: absolute;
  top: 32px;
  left: 240px;
  display: none;
  border-radius: 17px;
  padding: 4px 7px;
  justify-content: center;
  align-items: center;
  display: flex;
}
form[data-form="psgrading-task"] #savestatus .badge .spinner,
form[data-form="psgrading-task"] #savestatus .badge i {
  display: block;
  width: 11px;
  height: 11px;
  margin-right: 3px;
}
#page-mod-psgrading-view .generaltable tbody tr.task .c-name {
  max-width: 200px;
}
#page-mod-psgrading-view .generaltable tbody tr.task .c-outcomes {
  max-width: 270px;
}
