{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   mod_psgrading
    @copyright 2020 Michael Vangelovski
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template mod_psgrading/details_criterions

    View for the criterion selector component.
}}
<div class="details-criterions">
    {{#task.criterions.0}}
    <div class="headings">
        <ul class="tbl-th">
            <li class="tbl-col tbl-col-first">Descriptor</li>
            <li class="tbl-col level5"></li>
            <li class="tbl-col level4">Good start</li>
            <li class="tbl-col level3">Making strides</li>
            <li class="tbl-col level2">Go run with it</li>
            <li class="tbl-col level1 tbl-col-last"></li>
        </ul>
    </div>
    <div class="criterions">
        {{#task.criterions}}
            <ul class="tbl-tr criterion" data-id={{id}}>
                <li class="tbl-col tbl-col-first descriptor">
                    <div class="box">{{description}}</div>
                </li>
                <li class="tbl-col level level5 selectable {{#level5selected}}selected{{/level5selected}}" data-level="5">
                    <div class="box">{{level5}}</div>
                </li>
                <li class="tbl-col level level4 selectable {{#level4selected}}selected{{/level4selected}}" data-level="4">
                    <div class="box">{{level4}}</div>
                </li>
                <li class="tbl-col level level3 selectable {{#level3selected}}selected{{/level3selected}}" data-level="3">
                    <div class="box">{{level3}}</div>
                </li>
                <li class="tbl-col level level2 selectable {{#level2selected}}selected{{/level2selected}}" data-level="2">
                    <div class="box">{{level2}}</div>
                </li>
                <li class="tbl-col level level1 selectable {{#level1selected}}selected{{/level1selected}}" data-level="1">
                    <div class="box">{{level1}}</div>
                </li>
            </ul>
        {{/task.criterions}}
    </div>
    {{/task.criterions.0}}
</div>