{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   mod_psgrading
    @copyright 2020 Michael Vangelovski
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template mod_psgrading/evidence_selector

    View for the evidence selector component.
}}
<div class="evidence-selector">
    <div class="heading">{{#str}}addevidence, mod_psgrading{{/str}}</div>
    <table class="table">
        <tbody>
            {{#evidences}}
                <tr class="activity {{#isheader}}labelonly{{/isheader}} {{#issub}}sub{{/issub}}" data-cmid="{{cmid}}">

                    {{#isheader}}
                      <td class="cell c1 c-name" colspan="3">{{#icon}}<img src="{{icon}}" class="icon" role="presentation" aria-hidden="true">{{/icon}}<span class="name">{{name}}</span></td>
                    {{/isheader}}

                    {{^isheader}}
                        {{#issub}}
                            <td class="cell c0 c-indent"></td>
                            <td class="cell c1 c-name">
                                <input class="cmid" type="checkbox" value="{{id}}" data-modname="{{modname}}" {{#sel}}checked="true"{{/sel}}>&nbsp;&nbsp;
                                {{#icon}}<img src="{{icon}}" class="icon" role="presentation" aria-hidden="true">{{/icon}}<span class="name">{{name}}</span></td>
                            <td class="cell c2 c-link lastcol"><a class="link" target="evidence" href="{{url}}"><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                        {{/issub}}
                        {{^issub}}
                            <td class="cell c1 c-name" colspan="2">
                                <input class="cmid" type="checkbox" value="{{id}}" data-modname="{{modname}}" {{#sel}}checked="true"{{/sel}}>&nbsp;&nbsp;
                                {{#icon}}<img src="{{icon}}" class="icon" role="presentation" aria-hidden="true">{{/icon}}<span class="name">{{name}}</span></td>
                            <td class="cell c2 c-link lastcol"><a class="link" target="evidence" href="{{url}}"><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                        {{/issub}}
                    {{/isheader}}
                </tr>
            {{/evidences}}
        </tbody>
    </table>
</div>