{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   mod_psgrading
    @copyright 2020 Michael Vangelovski
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template mod_psgrading/evidence_selector

    View for the evidence selector component.
}}
<div class="evidence-selector">
    <div class="heading">{{#str}}addevidence, mod_psgrading{{/str}}</div>
    <table class="table generaltable">
        {{!<thead>
            <tr>
                <th class="header c0 c-checkbox" scope="col"></th>
                <th class="header c1 c-name" style="" scope="col">Activity</th>
                <th class="header c2 c-link lastcol" style="" scope="col">Link</th>
            </tr>
        </thead>}}
        <tbody>
            {{#evidences}}
                <tr class="activity">
                    <td class="cell c0 c-checkbox"><input class="cmid" type="checkbox" value="{{id}}" {{#sel}}checked="true"{{/sel}}></td>
                    <td class="cell c1 c-name"><img src="{{icon}}" class="icon" role="presentation" aria-hidden="true"><span class="name">{{name}}</span></td>
                    <td class="cell c2 c-link lastcol"><a class="link" target="_blank" href="{{url}}"><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                </tr>
            {{/evidences}}
        </tbody>
    </table>
</div>