<div class="group-selector">
    {{#groups.0}}
        <select class="group-select form-control">
            <option value="0" data-markurl="{{baseurl}}">All groups</option>
            {{#groups}}
                <option value="{{id}}"{{#iscurrent}} selected="selected"{{/iscurrent}} data-markurl="{{markurl}}">{{name}}</option>
            {{/groups}}
        </select>
    {{/groups.0}}
</div>