{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   mod_psgrading
    @copyright 2021 Michael Vangelovski
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template mod_psgrading/list

    Class list template.
}}

<div class="group-selector">
    {{#groups.1}}
        <span class="selector-label">Group</span>
        <select class="group-select form-control">
            <option value="0" data-viewurl="{{basenavurl}}">All groups</option>
            {{#groups}}
                <option value="{{id}}"{{#iscurrent}} selected="selected"{{/iscurrent}} data-viewurl="{{viewurl}}">{{name}}</option>
            {{/groups}}
        </select>
    {{/groups.1}}
</div>
<div class="psgrading-list">
    <div class="classlist-table">
        {{! Task names across the top }}
        <div id="task-list" class="classlist-header">
            {{#studentoverviews.0}}
                <div class="column col-empty col-student">&nbsp;</div>
                
                {{#tasks}}
                    <div class="column col-taskname {{^published}}not-published{{/published}} {{^released}}not-released{{/released}}" data-id="{{id}}">

                        {{#published}}
                            <span class="text" data-toggle="tooltip" title="{{taskname}}">{{taskname}}</span>
                        {{/published}}

                        {{^published}}
                            <span class="text" data-toggle="tooltip" title="{{draftdata.taskname}}">{{draftdata.taskname}}</span>
                        {{/published}}

                        <div class="actions">
                            <span class="status" data-toggle="tooltip" data-placement="right" title="
                                {{#published}}
                                    {{#released}}
                                        {{#str}}gradesreleased, mod_psgrading{{/str}}.
                                    {{/released}}
                                    {{^released}} 
                                        {{#str}}gradesnotreleased, mod_psgrading{{/str}}.
                                    {{/released}}
                                    {{#draftjson}}
                                        {{#str}}unpublishededits, mod_psgrading{{/str}}.
                                    {{/draftjson}}
                                {{/published}}
                                {{^published}} 
                                    {{#str}}notpublishedyet, mod_psgrading{{/str}}.
                                {{/published}}">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                            </span>
                            
                            <a data-toggle="tooltip" data-placement="right" title="{{^isdraft}}Edit task{{/isdraft}}{{#isdraft}}Continue editing task{{/isdraft}}" href="{{editurl}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>

                            {{#isdraft}}
                                <a data-toggle="tooltip" data-placement="right" title="{{#str}}task:discarddraft, mod_psgrading{{/str}}" class="action-discarddraft" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            {{/isdraft}}

                            {{#published}}
                                <a data-toggle="tooltip" data-placement="right" title="Grade task" href="{{markurl}}"><i class="fa fa-table" aria-hidden="true"></i></a>
                                {{^released}}<a data-toggle="tooltip" data-placement="right" title="Release feedback" class="action-release" href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>{{/released}}
                                {{#released}}<a data-toggle="tooltip" data-placement="right" title="Hide feedback" class="action-undorelease" href="#"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>{{/released}}
                            {{/published}}

                            <a data-toggle="tooltip" data-placement="right" title="{{#str}}dragtoreorder, mod_psgrading{{/str}}" class="btn-reorder"><i class="fa fa-arrows-h" aria-hidden="true"></i></a>
                        </div>
                    </div>
                {{/tasks}}
                
                <div class="column col-taskcreatecol" data-href="{{taskcreateurl}}">
                    <a id="btn-taskcreate" class="btn btn-primary" href="{{taskcreateurl}}" title="{{#str}}createtask, mod_psgrading{{/str}}"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    <!-- <a class="btn btn-secondary" href="{{manageurl}}">{{#str}}managetasks, mod_psgrading{{/str}}</a> -->
                </div>
            {{/studentoverviews.0}}
        </div>

        {{! Student rows }}
        {{#studentoverviews}}
            {{>mod_psgrading/list_row}}
        {{/studentoverviews}}

    </div>

</div>

 
  