{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   mod_psgrading
    @copyright 2021 Michael Vangelovski
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template mod_psgrading/list

    View template.
}}
<tr class="task {{^published}}not-published{{/published}} {{#draftjson}}has-draft{{/draftjson}}" data-id="{{id}}">
    {{#published}}
        <td class="cell c0 c-name">{{taskname}}</td>
        <td class="cell c1 c-pypuoi">{{pypuoi}}</td>
    {{/published}}
    {{^published}}
        <td class="cell c0 c-name">{{draftdata.taskname}}</td>
        <td class="cell c1 c-pypuoi">{{draftdata.pypuoi}}</td>
    {{/published}}
    
    <td class="cell c3 c-status">
        {{#published}}

            {{! <i class="fa fa-check-square" aria-hidden="true"></i> }}

            {{#released}}
                <span class="badge badge-success">
                    {{#str}}gradesreleased, mod_psgrading{{/str}}
                </span>
            {{/released}}

            {{^released}}
                <span class="badge badge-info">
                    {{#str}}readytograde, mod_psgrading{{/str}}
                </span>
            {{/released}}

            {{#draftjson}}
                <span class="badge badge-danger">
                    {{#str}}unpublishededits, mod_psgrading{{/str}}
                </span>
            {{/draftjson}}

        {{/published}}

        {{^published}}
            <span class="badge badge-warning">
                {{#str}}notpublishedyet, mod_psgrading{{/str}}
            </span>
        {{/published}}

    </td>

    <td class="cell c4 c-lastmod">{{readabletime}}</td>
    <td class="cell c5 c-actions lastcol">
        <a class="btn btn-primary" href="{{editurl}}">Edit</a> 
        {{#published}}
            <a class="btn btn-primary" href="{{markurl}}">Grade</a>
            {{^released}}<a class="btn btn-primary btn-release" href="#">Release</a>{{/released}}
            {{#released}}<a class="btn btn-primary btn-undorelease" href="#">Hide grades</a>{{/released}}
        {{/published}}
        <a class="btn-reorder"><i title="Reorder" class="fa fa-arrows-v" aria-hidden="true"></i></a>
    </td>
</tr>