{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   mod_psgrading
    @copyright 2021 Michael Vangelovski
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template mod_psgrading/list_table

    Template used to generate list overview table. This is also cached.
}}
<div class="classlist-table">
        {{! Task names across the top }}
        <div id="task-list" class="classlist-header">
            {{#studentoverviews.0}}
                <div class="column col-empty col-student">&nbsp;</div>
                
                {{#tasks}}
                    <div class="column col-taskname {{^published}}not-published{{/published}} {{^released}}not-released{{/released}}" data-id="{{id}}">

                        <span class="text" data-toggle="tooltip" title="{{taskname}}">{{taskname}}</span>

                        <div class="actions">
                            <span class="status" data-toggle="tooltip" data-placement="right" title="
                                {{#published}}
                                    {{#str}}taskvisible, mod_psgrading{{/str}}.
                                    {{#hasgrades}} 
                                        {{#str}}hasgrades, mod_psgrading{{/str}}.
                                        {{#released}}
                                            {{#releasecountdown}}
                                                {{#str}}gradesreleasing, mod_psgrading{{/str}}.
                                            {{/releasecountdown}}
                                            {{^releasecountdown}}
                                                {{#str}}gradesreleased, mod_psgrading{{/str}}.
                                            {{/releasecountdown}}
                                        {{/released}}
                                        {{^released}} 
                                            {{#str}}gradesnotreleased, mod_psgrading{{/str}}.
                                        {{/released}}
                                    {{/hasgrades}}
                                    {{^hasgrades}}
                                        {{#str}}gradingnotstarted, mod_psgrading{{/str}}.
                                    {{/hasgrades}}
                                {{/published}}
                                {{^published}} 
                                    {{#str}}taskhidden, mod_psgrading{{/str}}.
                                {{/published}}">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                            </span>

                            <a data-toggle="tooltip" data-placement="right" title="{{^isdraft}}Edit task{{/isdraft}}{{#isdraft}}Continue editing task{{/isdraft}}" href="{{editurl}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>

                            {{#published}}<a data-toggle="tooltip" data-placement="right" title="Grade task" href="{{markurl}}"><i class="fa fa-table" aria-hidden="true"></i></a>{{/published}}

                            {{#published}}
                                {{#hasgrades}}
                                    {{^released}}<a data-toggle="tooltip" data-placement="right" title="Release feedback" class="action-release" href="#"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>{{/released}}
                                    {{#released}}
                                        {{#releasecountdown}}
                                            <a data-toggle="tooltip" data-placement="right" title="Feedback will be released after a 15 minute delay. Click to cancel." class="action-undorelease" href="#"><i class="fa fa-spinner spin" aria-hidden="true"></i></a>
                                        {{/releasecountdown}}
                                        {{^releasecountdown}}
                                            <span data-toggle="tooltip" data-placement="right" title="Feedback released" class="status-released"><i class="fa fa-paper-plane" aria-hidden="true"></i></span>
                                        {{/releasecountdown}}
                                    {{/released}}
                                {{/hasgrades}}
                            {{/published}}
                            {{^published}}
                                <a href="#" data-toggle="tooltip" data-placement="right" title="{{#str}}taskhiddenmakevisible, mod_psgrading{{/str}}" class="action-publish"><i class="fa fa-eye" aria-hidden="true"></i></span>
                            {{/published}}

                            {{^released}}
                                <a class="action-delete" data-toggle="tooltip" data-placement="right" title="{{#str}}task:deletetask, mod_psgrading{{/str}}" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            {{/released}}

                            <a href="" data-toggle="tooltip" data-placement="bottom" title="{{#str}}dragtoreorder, mod_psgrading{{/str}}" class="action-reorder"><i class="fa fa-arrows-h" aria-hidden="true"></i></a>

                        </div>
                    </div>
                {{/tasks}}
                
                <div class="column col-taskcreatecol" data-href="{{taskcreateurl}}">
                    <a id="btn-taskcreate" class="btn btn-primary" href="{{taskcreateurl}}" title="{{#str}}task:create, mod_psgrading{{/str}}"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
            {{/studentoverviews.0}}
        </div>

        {{! Student rows }}
        {{#studentoverviews}}
            {{>mod_psgrading/list_row}}
        {{/studentoverviews}}
        
    </div>