{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   mod_psgrading
    @copyright 2020 Michael Vangelovski
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template mod_psgrading/marking_evidence

    View for the evidence selector component.
}}
<div class="marking-evidences">
    <div class="body">
        {{#task.evidences.0}}
        <div class="heading">Predefined evidence</div>
        <table class="table generaltable">
            <tbody>
                {{#task.evidences}}
                    <tr class="evidence" data-id="{{id}}">
                        <td class="cell">
                            <img src="{{icon}}" class="icon" role="presentation" aria-hidden="true"><span class="name">{{name}}</span> <a class="link" target="_blank" href="{{url}}"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                {{/task.evidences}}
            </tbody>
        </table>
        {{/task.evidences.0}}


        <div id="myconnect-evidence" class="{{#task.myconnectevidences.0}}has-posts{{/task.myconnectevidences.0}}">
            <div class="heading">MyConnect posts</div>
            {{#myconnect.posts.0}}
                <a href="#" class="btn-browse btn btn-primary">Select</a>
                <div class="myconnect-carousel">
                    {{#task.myconnectevidences}}
                        {{>mod_psgrading/myconnect_post}}
                    {{/task.myconnectevidences}}
                </div>
            {{/myconnect.posts.0}}
            {{^myconnect.posts.0}}
                <div class="myconnect-empty">
                    {{currstudent.fullname}} does not have any MyConnect posts.
                </div>
            {{/myconnect.posts.0}}
        </div>

        <div class="heading">Additional evidence</div>
    </div>
</div>