{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   mod_psgrading
    @copyright 2020 Michael Vangelovski <michael.vangelovski@hotmail.com>
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template mod_psgrading/myconnect_post_attachments

    Renders a single post attachment.
}}
<div class="attachment" data-id="{{id}}" data-postid="{{postid}}">
    <div class="attachment-header">
        <div class="selector"></div>
    </div>
    <div class="attachment-body">
        {{#canpreview}}
            {{#isimage}}
                <div class="photo">
                    <span class="slide-trigger" data-isimage="1">
                        <img src="{{path}}?preview=thumb">
                    </span>
                </div>
            {{/isimage}}
            {{#isvideo}}
                <div class="video">
                    <span class="slide-trigger" data-isvideo="1" data-mimetype="{{mimetype}}">
                        <video>
                            <source src="{{path}}" type="{{mimetype}}">
                        </video>
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </span>
                </div>
            {{/isvideo}}
        {{/canpreview}}
        {{^canpreview}}
            <div class="doc">
                <span class="slide-trigger" data-isdoc="1" data-iconimage="{{iconimage}}" data-filename="{{formattedfilename}}">
                    <img class="icon" src="{{iconimage}}"> {{formattedfilename}}
                </span>
            </div>
        {{/canpreview}}
    </div>
</div>
