{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   mod_psgrading
    @copyright 2022 Michael Vangelovski
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template mod_psgrading/reporting

    Reporting template.
}}

<div class="psgrading-header">

  <!-- REPORTING PERIOD SELECTOR -->
  {{#reportingperiods.1}}
  <div class="reportingperiod-selector">
      <span class="selector-label">{{#str}}reportingperiod, mod_psgrading{{/str}}</span>
      <select class="reportingperiod-select form-control">
          <option value="0" disabled="disabled">{{#str}}reportingperiod, mod_psgrading{{/str}}</option>
          {{#reportingperiods}}
              <option value="{{value}}"{{#iscurrent}} selected="selected"{{/iscurrent}} data-viewurl="{{viewurl}}">Semester {{name}}</option>
          {{/reportingperiods}}
      </select>
  </div>
  {{/reportingperiods.1}}

</div>

<div class="psgrading-reporting {{^locked}}editable{{/locked}}">
  <div class="period-heading">{{year}} Reporting Period {{period}}{{#locked}} - Locked{{/locked}}</div>

    {{#students}}
      <div class="reporting-row" data-username="{{user.username}}">
          <div class="student-info">
              <img src="{{user.profilephoto}}" class="round"/> <span class="name">{{user.lastname}}, {{user.firstname}}</span>
          </div>
          <div class="student-report-elements">
            {{#reportelements}}
              <a href="{{url}}" class="report-element" data-subjectarea="{{subjectarea}}" data-type="{{type}}" data-grade="{{grade}}">
                <input class="element-reflection" type="hidden" value="{{reflection}}" />
                <div class="subjectgrade">{{subjectarea}} {{#minimal}}({{minimal}}){{/minimal}}</div>
                <div class="options-area"></div>
              </a>
            {{/reportelements}}
          </div>
      </div>
    {{/students}}

    <div id="reflection-form-wrap">
      <div id="reflection-form">
        {{{reflectionform}}}
      </div>
    </div>

</div>
